.first-image:hover {
    transform: scale(1.1);
}
  
.first-image {
transition: transform 0.3s ease;
}

.scale-on-hover:hover .first-image {
  transform: scale(1.1);
}

.link-image:hover {
  border-bottom: 3px solid #000;
}